<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Liste des salles
    </ion-title> 
    <ion-buttons slot="primary">
      <ion-button color="danger" shape="round" [routerLink]="['/tabs/recherche']">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>

  <div class="card-salle-wrapper">
    <ion-card class="card-salle" *ngFor="let item of salles" >
  
      <img [src]="item.getImage()" alt="" srcset="">
      <ion-card-header>
      
        <ion-card-subtitle>
          <div class="subtitle-content">
            <ion-chip>
              <ion-icon name="pricetags"></ion-icon>
              <ion-label>{{item.getPrice()}}</ion-label>
            </ion-chip>
            <div>
              {{item.commune}}
            </div>
          </div>
        </ion-card-subtitle>
        <ion-card-title>{{item.nom}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="buttons-actions">
          <ion-button color="primary" size="medium" (click)="showDetails(item)">Détail</ion-button>
          <ion-button color="secondary" size="medium" (click)="reserver(item)">Réserver</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

