/* .card-reservation-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-reservation{
    width: calc(50% - 20px);
    min-width: 300px;
    max-width: 380px;
    img{
        width: 100%;
    }
} */
.poster{
    background-color: #eee;
    text-align: center;
    img{
        width: 100%;
        max-width: 500px ;
    }
}

.pic{
    width: 100%;
}
.subtitle-content{
    ion-chip{
        float: right;
        margin-left: 10px;
        margin-top: -10px;
    }
}
ion-card-title{
    clear: both;
}
.buttons-actions{
    display: flex;
    ion-button{
        text-transform: capitalize !important;
    }
}