<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Mes résérvations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-salle-wrapper"> 
  <ion-card *ngFor="let item of reservations">
  
    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>{{item.dateDebut}} - {{item.dateFin}}</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>{{item.prix}} {{item.devise.name}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>{{item.reservationTypeId}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>{{item.salleId}}</ion-label>
    </ion-item>
  </ion-card>
</div>
</ion-content>
