<div>
  <ion-header>
    <ion-toolbar color="warning">
      <!-- Searchbar with danger color -->
      <ion-searchbar color="white" (ionChange)="search($event.target.value)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>

  <div class="card-salle-wrapper">
    <ion-card class="card-salle" *ngFor="let item of sallesFiltred">
      <div class="poster">
        <img [src]="item.getImage()" alt="" srcset="">
      </div>
      <ion-card-header>

        <ion-card-subtitle>
          <div class="subtitle-content">
            <ion-chip>
              <ion-icon name="pricetags"></ion-icon>
              <ion-label>{{item.prix}} {{item.devise}}</ion-label>
            </ion-chip>
            <div>
              {{item.commune}}
            </div>
          </div>
        </ion-card-subtitle>
        <ion-card-title>{{item.nom}}</ion-card-title>
      </ion-card-header>


      <ion-card-content>
        <div class="buttons-actions">
          <ion-button color="primary" size="small" (click)="showDetails(item)">Détail</ion-button>
          <ion-button color="secondary" size="small" (click)="reserver(item)">Réserver</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>